[Desktop Entry]
Name=Raw Therapee
Comment=THe Experimental RAw Photo Editor
Comment[pl]=Eksperymentalny edytor zdjęć RAW
Icon=rawtherapee
Exec=rawtherapee
Terminal=false
Type=Application
Categories=Graphics;Photography;GTK;
MimeType=image/x-dcraw;
# vi: encoding=utf-8
