[Desktop Entry]
Name=Raw Therapee
Comment=THe Experimental RAw Photo Editor
Icon=rawtherapee
Exec=rawtherapee
Terminal=false
Type=Application
Categories=Application;Graphics;Photography;GTK;
# vi: encoding=utf-8
